 h1 {font-family: sans-serif; text-align: center; }
 h2 {font-family: sans-serif; text-align: center; }
 footer {font-style: italic; background-color: limegreen; text-align: center}
 .div1 {background-color: skyblue; }
 .div2 {background-color: pink; }
 #worldpic {padding: 5pt; float: right; height: 25%; width: 25%; background-color: skyblue; }
 